nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 15px 0px;
}

.logout-btn {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  height: 40px;
  width: 100px;
  outline: none;
  cursor: pointer;
}
